body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-image: linear-gradient(#edf2f8, #edf2f8);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
main {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    border-radius: 15px;
    background-color: white;
    margin-top: 100px;
}
.img-div {
    background-image: url('/images/drawers.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px 0 0 10px;}
.text {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.text h2 {
    font-size: 1.4rem;    
    line-height: 1.5;
    width: 80%;
    color: hsl(217, 19%, 35%);
}
.text p {
    font-size: .9rem;
    line-height: 1.5;
    width: 80%;
    color: hsl(212, 23%, 69%);
}
.text img {
    width: 50px;
    border-radius: 50%;
}
.avatar-section {
    display: inline-block;
    width: 100%;
    font-size: .8rem;
}
.profile {
    display: inline-block;
    margin-left: 10px;
    vertical-align: 50%;
}
.profile > span {
    display: block;
    line-height: 1.8;
}
#name {
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}
#date {
    font-weight: 200;
    color: hsl(212, 23%, 69%);

}
.share-button {
    display: inline-block;
    left: 50%;
position: relative;
vertical-align: 50%;
}
.share-button img {
    width: 20px;
 
}
