body {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
   
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
main {
    display: flex;
}
.img-div img {
    width: 100%;
}
.text {
    width: 100%;
}
